<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.sdslabs.iitr.todo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="in.co.sdslabs.iitr.todo.Time" />
        <activity
            android:name="in.co.sdslabs.iitr.todo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name="in.co.sdslabs.iitr.todo.SecondClass"
            android:label="@string/app_name" >
            

        </activity>
        <activity
            android:name="in.co.sdslabs.iitr.todo.ShowTodayTask"
            android:label="@string/app_name" >
            

        </activity>
        <activity
            android:name="in.co.sdslabs.iitr.todo.NotifyTimeSetting"
            android:label="@string/app_name" >
            

        </activity>
         <activity
            android:name="in.co.sdslabs.iitr.todo.ModifyClass"
            android:label="@string/app_name" >
            

        </activity>
    </application>

</manifest>
